<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${title}"></title>
    	<link href="css/bootstrap.min.css" rel="stylesheet"/>
    	<link href="css/bs_additon.css" rel="stylesheet"/>
	</head>
	<body>
		<h1 class="form-signin-heading">Meta Info</h1>
		<p><span th:text="${method}"></span></p>
		<p><span th:text="${code}"></span></p>
		<p><span th:text="${execution}"></span></p>
		<p><span th:text="${client_id}"></span></p>
		<p><span th:text="${user_agent}"></span></p>

		<div class="container">
			<form class="form-signin" action="/alphabank/authentication/redirect" method="post">
				<h2 class="form-signin-heading">Alpha Bank Financial API Service</h2>
				<label class="sr-only" for="username">User Account</label>
				<input class="form-control" name="username" id="username" value=""/>
				<label class="sr-only" for="password">Password</label>
				<input class="form-control" name="password" id="password" value=""/>
				<input type="hidden" name="client_id" value="customer-portal-alphabank"/>
				<button class="btn btn-lg btn-primary btn-block">Log In</button>
			</form>
		</div>

		<footer class="footer">
		</footer>
	</body>
</html>