<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>From External Authentication Server : Submit This Form</title>
</head>
<body Onload="javascript:document.forms[0].submit()">
  <form method="post" th:action="${action}">
    <!--
    <input name="code" type="hidden" th:value="${code}"/>
    <input name="execution" type="hidden" th:value="${execution}"/>
      -->
    <input name="artifact" type="hidden" th:value="${artifact}"/>
    <noscript>
      <p>JavaScript is disabled. We strongly recommend to enable it. Click the button below to continue.</p>
      <input type="submit" value="continue" />
    </noscript>
  </form>
</body>
</html>